@import "./app.scss";

$container-bc: $app-toolbar-bg;

$cube-width: 200px;
$cube-height: 200px;
$cube-margin: 0 40px 40px 40px;

$cube-color-front: #ce84e1;
$cube-color-top: #FFA040;
$cube-color-back: #FFA040;
$cube-color-bot: #FFA040;
$cube-color-back: #FFA040;
$cube-color-left: #FFA040;
$cube-color-right: #FFA040;
$cube-text-pt: 15px;
$cube-translateZ: $cube-width/2;

/*
                      ____
                     /   / top
                 ___/___/___
           left/   /   /   / right
              /___/___/___/         <<--front
                 /   / bot
                /___/
               /   / back
              /___/
*/
%cube {
    width: $cube-width;
    height: $cube-height;
    transform-style: preserve-3d;
    transition: .3s;
    margin: $cube-margin;
}
%cube-top {
    padding-top: $cube-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $cube-color-top;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
}
%cube-front {
    padding-top: $cube-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $cube-color-front;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
}
%cube-back {
    padding-top: $cube-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $cube-color-back;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
}
%cube-left {
    padding-top: $cube-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $cube-color-left;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
}
%cube-right {
    padding-top: $cube-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $cube-color-right;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
}
%cube-bot {
    padding-top: $cube-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $cube-color-bot;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
}
%container{
    background-color: $container-bc;
    color: white;
}
