$container-bc: #2a004a;

$card-width: 200px;
$card-height: 200px;
$card-margin: 10px;

$card-color-front: #ce84e1;
$card-color-back: #FFA040;
$card-text-pt: 15px;

%card-body {
    width: $card-width;
    height: $card-height;
    transform-style: preserve-3d;
    perspective: 700px;
    margin: $card-margin;
    margin-top: 0;
}
%card-front {
    padding-top: $card-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $card-color-front;
    backface-visibility: hidden;
    transition: 0.5s;
    text-align: center;
}
%card-back {
    padding-top: $card-text-pt;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $card-color-back;
    backface-visibility: hidden;
    transition: 0.5s;
    text-align: center;
}
%container{
    background-color: $container-bc;
    color: white;
}
